body{
    background:#e5e7ec; 
     
}
    
.navegacion{
    width: 1000px;
    margin: 30px auto;
    background: #fff
   
}
.navegacion ul{
    list-style: none;
}
.menu li{
    position: relative;
    display: inline-block;
}
.menu li a{
    display: block;
    padding: 15px 20px;
    color: #353535;
    font-family: 'Times New Roman', Times, serif;
}
.menu li a:hover{
    color: #ce7d35;

}
h2{
    color: rgb(6, 7, 7);
    font-size: large;
    font-weight: bolder;
    font-style: normal;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri,
    'Trebuchet MS', sans-serif;
    background-color: rgb(180, 190, 197);
    }
body{
    background-color: #e6dada;
    }
h2{
    color: rgb(148, 92, 36);
    font-style: italic;
    font-size: large;
    font-weight: bold;
            font-family: 'Times New Roman', Times, serif;
            text-align: center;
            }
            section article{
            color: red;
            font-style: italic;
            font-size: large;
            font-weight: bold;
            font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 
            'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
            text-decoration: solid;
            text-align: center;
            }
            section article p{
            color: rgb(181, 201, 201);
            text-transform: capitalize;
            text-decoration: none;    
            } 
   
    
    







body{
    background-color: #d9dfeb;
}
.h1{
    color: rgb(50, 70, 17);  
    font-style: italic;
    font-weight: normal;
    font-size: 300%;
    font-family: Arial, Helvetica, sans-serif;
    background-size: cover;
    background-image: url();
    border: 2px solid rgb(3, 3, 15);
    text-align: center;
    text-decoration: aliceblue;
    }
    .section article{
        color: rgb(9, 14, 15);
        font-weight: lighter;
        font-family: 'Times New Roman', Times, serif;
        text-align: center;
        text-transform: none;
        background-color: rgb(0, 0, 0);
        background-position: 10px;
        letter-spacing: 10px;
        }
    .section article p{
        color: rgb(3, 3, 3);
        font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
        text-transform: none;
        text-decoration: azure;
        }
    .parrafo{
        color: rgb(2, 7, 2);
        font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
        text-transform: capitalize;
        }
    #onceavo{
        font-size: large;
        line-height: 50px;
        background-repeat: repeat;
        }




    .body{
        background-color: rgb(10, 103, 139)
        }
        .contenedorpadre{
            border: 5px solid;
            display: flex;
            flex: content;
            flex-direction: row;
            flex-wrap: wrap;
            flex-flow: column;
            justify-content: center;
            align-items: unset;
            align-content: initial;
            order: inherit;
            flex-basis: 10%;
            flex-shrink: unset;
            }
        .elementohijo{
            padding: 10px;
            text-align: center;
            font-size: 1em;
            flex-wrap: wrap;
            justify-content: left;
            order: unset;
            }
            .uno{
                background-color: rgb(36, 180, 180); 
                text-align: center;
                text-decoration: none;
                }
            .dos{
                background-color: rgb(40, 190, 190);
                text-decoration: none;
                }
            .tres{
                 background-color: rgb(50, 200, 200);
                }
            .cuatro{
                background-color: rgb(60, 210, 210);
                }
            .cinco{
                background-color: rgb(70, 220, 220);
                }
            .seis{
                background-color: rgb(80, 230, 230);
                }
      
        


        