.footer {
    height: 60px;
    grid-column-start: 1;
    grid-column-end: 4;
    grid-column: span 3;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 
    'Lucida Grande', 'Lucida Sans', Arial, sans-serif; }
    