.parrafo {
    color: #020702;
    font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande", "Lucida Sans", Arial, sans-serif;
    text-transform: capitalize; }
    p {
        background-color: bisque; }
  .p {
        background-color: #10140c; }
.parrafo {
            color: #d14444;
            font-size: smaller;
            font-weight: bold;
            font-family: Impact, Haettenschweiler, "Arial Narrow Bold", sans-serif;
            text-shadow: 40px; }
          