@import"body";
@import"parrafo";
@import"footer";




.footer{
   text-align: left;
   text-decoration: dashed;
   font-family: 'Times New Roman', Times, serif;
   font-style: italic;
   font-weight: bold;
   font-size: small;
   
}
